services:
  db:
    image: postgres:18-alpine
    container_name: wca_postgres_db
    restart: always
    env_file:
      - .env
    expose:
      - "5432"
    networks:
      - app-network
    volumes:
      - postgres_data:/var/lib/postgresql/data
    command: >
      postgres
      -c max_wal_size=4GB
      -c fsync=off
      -c full_page_writes=off
      -c checkpoint_timeout=15min
      -c synchronous_commit=off

  odds-client:
    build:
      context: client
      dockerfile: Dockerfile
    ports:
      - "80:80"
    networks:
      - app-network
    depends_on:
      - odds-server

  odds-server:
    build:
      context: server
      dockerfile: Dockerfile
    expose: 
      - "3000"
    ports:
      - "3000:3000"
    env_file:
      - .env
    networks:
      - app-network
    depends_on:
      - db

  results-loader:
    build:
      context: results_loader
      dockerfile: Dockerfile
    env_file:
      - .env
    networks:
      - app-network
    depends_on:
      - db

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data: